#div1 {
	height: 400px;
	width: 400px;
	position: absolute;
	background-color: gray;
	left: 200px;
	top: 300px;
}

#div2 {
	height: 150px;
	width: 150px;
	position: absolute;
	background-color: blue;
	right: 10px;
	bottom: -50px;
}

#div3 {
	height: 75px;
	width: 75px;
	position: absolute;
	background-color: yellow;
	left: 100px;
	top: 50px;
}
/*
#div4 {
	height: 100px;
	width: 100px;
	position: absolute;
	background-color: red;
	left: 100px;
}
*/